<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>collapse</title>
  <style>
    html,body {
      margin: 0;
      padding: 0;
    }
    h1, h2 {
      margin: 0 20px;
    }
    .box {
      display: flex;
      align-items: flex-start;
      border: 2px solid gray;
      border-radius: 6px;
      margin: 20px;
    }
    .box .ul {
      margin: 20px;
    }

    /* collapse style */
    .ul {
      width: 500px;
      border: 1px solid #ddd;
      border-radius: 4px;
      overflow: hidden;
    }

    .li {
      width: 100%;
      background: gray;
      border-bottom: 1px solid #ddd;
    }

    .li:nth-last-of-type(1) {
      border-bottom: none;
    }

    .li .title {
      box-sizing: border-box;
      width: 100%;
      padding: 16px;
      background: #fff;
      cursor: pointer;
    }

    .li .title.active {
      background: antiquewhite
    }

    .li .desc {
      display: none;
      width: 100%;
      height: 100px;
      padding: 16px;
      color: #fff;
    }
  </style>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

  <h2><i>各个折叠面板之间互不影响</i></h2>
  <h1>折叠面板（一）</h1>
  <div class="box">
    <div class="collapse ul">
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc1</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc2</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc3</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc4</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc5</div>
      </div>
    </div>
    <!-- 默认打开一个折叠版 -->
    <div class="collapse ul">
      <div class="li">
        <div class="title active">title</div>
        <div class="desc" style="display: block;">desc1</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc2</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc3</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc4</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc5</div>
      </div>
    </div>
  </div>
  <script>
  // collapse 1
  $('.collapse .title').on('click', function() {
    if(!$(this).hasClass('active')) {
      $(this).addClass('active').siblings('.desc').show()
    } else {
      $(this).removeClass('active').siblings('.desc').hide()
    } 
  })
  </script>

  <h1>折叠面板（二）</h1>
  <div class="box">
    <div class="collapse2 ul">
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc1</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc2</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc3</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc4</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc5</div>
      </div>
    </div>
    <!-- 默认打开一个折叠版 -->
    <div class="collapse2 ul">
      <div class="li">
        <div class="title active">title</div>
        <div class="desc" style="display: block;">desc1</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc2</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc3</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc4</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc5</div>
      </div>
    </div>
  </div>

  <script>
    // collapse 2
    $('.collapse2 .title').on('click', function() {
      if($(this).hasClass('active')) {
        $(this).removeClass('active').siblings('.desc').slideUp()
      } else {
        $(this).addClass('active').siblings('.desc').slideDown()
      } 
    })
  </script>

  <h2><i>当任何一个折叠面板打开，其余的都闭合</i></h2>

  <h1>折叠面板（三）</h1>
  <div class="box">
    <div class="collapse3 ul">
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc1</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc2</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc3</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc4</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc5</div>
      </div>
    </div>
    <!-- 默认打开一个折叠版 -->
    <div class="collapse3 ul">
      <div class="li">
        <div class="title active">title</div>
        <div class="desc" style="display: block;">desc1</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc2</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc3</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc4</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc5</div>
      </div>
    </div>
  </div>

  <script>
    // collapse 3
    $('.collapse3 .title').on('click', function() {
      var rootEl = $(this).parent().parent()
      rootEl.find('.title').removeClass('active')
      rootEl.find('.desc').hide()
      if(!$(this).hasClass('active')) {
        $(this).addClass('active').siblings('.desc').show()
      } else {
        $(this).removeClass('active').siblings('.desc').hide()
      } 
    })
  </script>

  <h1>折叠面板（四）</h1>
  <div class="box">
    <div class="collapse4 ul">
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc1</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc2</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc3</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc4</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc5</div>
      </div>
    </div>
    <!-- 默认打开一个折叠版 -->
    <div class="collapse4 ul">
      <div class="li">
        <div class="title active">title</div>
        <div class="desc" style="display: block;">desc1</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc2</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc3</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc4</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc5</div>
      </div>
    </div>
  </div>

  <script>
    // collapse 4
    $('.collapse4 .title').on('click', function() {
      var rootSiblings = $(this).parent().siblings()
      rootSiblings.find('.title').removeClass('active')
      rootSiblings.find('.desc').slideUp()
      if(!$(this).hasClass('active')) {
        $(this).addClass('active').siblings('.desc').slideDown()
      } else {
        $(this).removeClass('active').siblings('.desc').slideUp()
      } 
    })
  </script>

  <h2><i>保证始终有一个折叠面板打开</i></h2>
  <h1>折叠面板（五）</h1>
  <div class="box">
    <div class="collapse3 ul">
      <div class="li">
        <div class="title active">title</div>
        <div class="desc" style="display: block;">desc1</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc2</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc3</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc4</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc5</div>
      </div>
    </div>

    <div class="collapse5 ul">
      <div class="li">
        <div class="title active">title</div>
        <div class="desc" style="display: block;">desc1</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc2</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc3</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc4</div>
      </div>
      <div class="li">
        <div class="title">title</div>
        <div class="desc">desc5</div>
      </div>
    </div>
  </div>

  <script>
    // collapse 5
    $('.collapse5 .title').on('click', function() {
      var rootSiblings = $(this).parent().siblings()
      rootSiblings.find('.title').removeClass('active')
      rootSiblings.find('.desc').slideUp()
      
      $(this).addClass('active').siblings('.desc').slideDown() 
    })
  </script>
</body>
</html>