<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ready</title>
</head>
<body>
    <iframe src="http://open.iqiyi.com/developer/player_js/coopPlayerIndex.html?vid=1f0395b2713ca10297449446796b6ac6&tvId=10536886900&accessToken=2.f22860a2479ad60d8da7697274de9346&appKey=3955c3425820435e86d0f4cdfe56f5e7&appId=1368&height=100%&width=100%" frameborder="0" allowfullscreen="true" width="100%" height="100%"></iframe>
  <script>
    function readyFn() {
      console.log('loaded!');
    }

    function pageReady (fn) {
      if (document.readyState !== 'loading') {
        fn();
      }
  
      if (document.addEventListener) {
        document.addEventListener('DOMContentLoaded', fn);
      } else {
        document.attachEvent('onreadystatechange', function() {
          if (document.readyState !== 'loading') fn();
        });
      }
    }

    pageReady(readyFn);
    console.log(1);
  </script>
</body>
</html>