<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>flex</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }

        .parent {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        .children {
            padding: 6px 16px;
            border: 1px solid #cccccc;
        }
    </style>
</head>
<body>
    <div class="parent">
        <div class="children">flex</div>
    </div>
</body>
</html>